{% extends 'work_as/base.html' %}
{% load staticfiles %}
{% block title %}
Part details
{% endblock %}
{% block page_title %}Detail view{% endblock %}
{% block body %}
<br>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
<div class="container">
    <p>Code: {{ part.code }}</p>
    <p>Description: {{ part.description }}</p>
    <p>Quantity: {{ part.quantity }}</p>
    <p>Price {{ part.price }}</p>
    <p>Stored in: </p>
    {% for location in part.storage.all %}
        {{location}}<br>
    {% endfor %}
    <button type="button" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit">
        <span class="glyphicon glyphicon-wrench"></span>
    </button>&nbsp;
    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete">
        <span class="glyphicon glyphicon-trash" ></span>
    </button>&nbsp;
</div>
{% endblock %}